<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="min-width=device-width, min-height=device-height, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../static/question_start.css" />
    <title>Вопросы</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="spacer"></div>
        <div class="question">
          <div th:each="prod : ${prods}">
            <h1 th:text="${prod.question}"></h1>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="buttons">
          <div th:each="prod : ${ans}">
            <input
              type="button"
              class="button"
              th:value="${prod.answer}" />
          </div>
        </div>
        <div class="spacer"></div>
      </div>
    </main>
  </body>
</html>
