<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <title>Вопросы</title>
</head>
<body>
<h1> Правильно!!! </h1>

</table>
</body>
<main>
  <form class="form buttons">
    <div class="column first">
      <!--/*@thymesVar id="button1" type="java.lang.String"*/-->
      <a href="../explanation"> </a>
      <input type="button" class="button" value="Посмотреть подробный правильный ответ">
      <a href="../"> </a>
      <input type="button" class="button" value="Продолжить квест">
        </div>
  </form>
</main>
<!--<footer id="footer">-->

<!--</footer>-->
<!--<script src="../script.js"></script>-->
<!--</body>-->
</html>