<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles.css">
  <title>Правильный ответ</title>
</head>

<body>
<h1>Поздравляем! Это правильный ответ.</h1>
<h3 th:text="${explanation}">Здесь появится объяснение.</h3>

<main>
  <a th:href="@{/question_start/{model}(model=${model})}" class="return-button">Продолжить квест</a>
</main>

</body>
</html>
