<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slider</title>
    <link rel="stylesheet" href="../slydersstyles.css">
</head>
<body>
<header>

</header>
<main>
    <div class="gallery">
        <div class="card resizable">
            <h3>Card1</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit felis viverra, elementum sem vel, efficitur erat. Sed vehicula malesuada facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin pharetra varius odio sed ultrices. Vestibulum vel accumsan ante, in sodales sapien. Pellentesque maximus libero eu mi viverra.
            </p>
        </div>
        <div class="card resizable">
            <h3>Card2</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit felis viverra, elementum sem vel, efficitur erat. Sed vehicula malesuada facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin pharetra varius odio sed ultrices. Vestibulum vel accumsan ante, in sodales sapien. Pellentesque maximus libero eu mi viverra.
            </p>
        </div>
        <div class="card resizable">
            <h3>Card3</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit felis viverra, elementum sem vel, efficitur erat. Sed vehicula malesuada facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin pharetra varius odio sed ultrices. Vestibulum vel accumsan ante, in sodales sapien. Pellentesque maximus libero eu mi viverra.
            </p>
        </div>
        <div class="card resizable">
            <h3>Card4</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit felis viverra, elementum sem vel, efficitur erat. Sed vehicula malesuada facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin pharetra varius odio sed ultrices. Vestibulum vel accumsan ante, in sodales sapien. Pellentesque maximus libero eu mi viverra.
            </p>
        </div>
        <div class="card resizable">
            <h3>Card5</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit felis viverra, elementum sem vel, efficitur erat. Sed vehicula malesuada facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin pharetra varius odio sed ultrices. Vestibulum vel accumsan ante, in sodales sapien. Pellentesque maximus libero eu mi viverra.
            </p>
        </div>
    </div>
</main>
<footer>

</footer>
</body>
</html>