body {
  font-size: 16px;
  background-image: url('../16to9_background.webp');
  background-size: cover;
}
.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.spacer {
  padding: 2.5rem;
}
.question {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.question h1 {
  font-size: 1.2rem;
}
.buttons {
  padding-top: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15rem;
}
.button {
  min-width: 10rem;
  color: aliceblue;
  background-color: darkblue;
  font-size: 1rem;
}
