body{
  background: #a1efea;
}
.form{
  padding: 2em 2em 2em 2em;
  width: 90rem;
  height: auto;
  /*position: block;*/
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.text{
  display: block;
  height: 55vh;
  width: 90vw;
  background: #ff89;
  font-size: 1vw;
}
.buttons{
  display: flex;
  height: 20vh;
  width: 90vw;
  flex-direction: row;
  justify-content: space-around;
  background: #ff89;
  transition: box-shadow 200ms linear;
}
.button:hover {
  box-shadow: 0 .5em 1.5em 0 rgba(0, 0, 0, 0.15), 0 .4em .5em -.4em rgba(0, 0, 0, 0.5);
}
.column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.button{
  color: #a2efea;
  background: #000;
  border: 2px;
  margin: 5px;
  width: 300px;
  height: 50px;
  /*position: block;*/
  cursor: pointer;
  transition: box-shadow 200ms linear;
}
/*#move{*/
/*  position: relative;*/
/*}*/
/*input{*/
/*  color: #ff0;*/
/*  background: #000; */
/*  border: none;*/
/*}*/
/*input.bigger:hover {*/
/*  background: tomato;*/
/*!*  Making button bigger on hover  *!*/
/*  transform: scale(1.5) perspective(1px)*/
/*}*/
