body{
  background: #a1efea;
  scroll-behavior: smooth;
}
.form{
  padding: 2em 2em 2em 2em;
  width: 90rem;
  height: auto;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  aspect-ratio: 1.5;
}
.text-block{
  display: block;
  height: 55vh;
  width: 90vw;
  background: #ff89;
  font-size: 1vw;
  transform: scaleX(1);
  transition: transform 2s;
}
.buttons{
  overflow: auto;
  resize: both;
  display: flex;
  height: 20vh;
  width: 90vw;
  flex-direction: row;
  justify-content: space-around;
  background: #ff89;
  transition: box-shadow 200ms linear;
}
.button:hover {
  box-shadow: 0 .5em 1.5em 0 rgba(0, 0, 0, 0.15), 0 .4em .5em -.4em rgba(0, 0, 0, 0.5);
}
.column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.button{
  color: #a2efea;
  background: #004400;
  border: 2px;
  margin: 5px;
  width: 300px;
  height: 50px;
  cursor: pointer;
  transition: box-shadow 200ms linear;
}
a{
  text-decoration: none;
}
.fixed{
  left: 22px;
  position: fixed;
  transform: rotate(-90deg);
}
